@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
*{
    font-family: "Inter", sans-serif;
    
    margin: 0;
    padding: 0;
}
.all-over-body{
    max-width: 1440px;
    
    margin: 0 auto;

}

/*shared items*/
.display-flex{
    display: flex;
}
.color-1{
    color: rgb(230, 83, 60);
}
.color-2{
    color: rgb(0, 0, 0);
}
.color-3{
    color: aliceblue;
}
.color-4{
    color: rgba(255, 255, 255, 0.5); 
}
.btn-1{
    padding: 4px 10px;
    background-color: rgb(230, 83, 60);
    border-radius: 45px;
    color: aliceblue;
    border: none;

}
.btn-2{
    padding: 16px 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 45px;
    color: aliceblue;
    margin-top: 25px;
    border: none;
}

/*shared end*/

/*navbar start*/
.header{
    padding: 1rem 11.5rem 0;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(17, 17, 17, 0.904) 100%);

}
.manu-list{
    border: 1.3px solid rgba(90, 89, 89, 0.836);
    padding: 6px;
    border-radius: 45px;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;    
}
.nav-title{
    font-size: 2.2rem ;
}
.nav-manu-items{
    padding: solid rgb(192, 192, 192) 4px;

}
.nav-manu-items> li{
    list-style: none;
}
.nav-manu-items> li> a{
    text-decoration: none;
    margin: 15px;
    font-size: 1rem;
    font-weight: 400;
    color: aliceblue;

}

.hamburg{
    display: none;
}
/*navbar end*/
/*Banner start*/
.banner-contener {
    margin-top: 10px;
}
.banner-content-bar{  
    padding-top: 7rem;
}
.banner-title{
    font-size:3.5rem;
    font-weight: 900;
    
}
.banner-title > span{
    font-family: "Estonia", cursive;
    display: inline-block;
    font-size: 100px;
    
   
}
.banner-discription{    
    font-size: 14px;
}
.banner-img{
    margin-top: 2rem;
    margin-left: 15rem;
   
}
.benner-btn1{
    padding: 5px 10px ;
    font-size: 10px;
}
.benner-btn3{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 16px 40px;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.014);
}
.img-btn1{
    position: absolute;
    width: 9rem;
    height: 4.9rem;
    left: 76.18vw;
    top: 13.12rem;
    border-radius: 12px;
    background-color: rgba(105, 104, 104, 0.658);
    border: none;
    filter: opacity(80%);
}
.img-btn1 > h1{
    font-size: 40px ;
    font-weight: 900;
    color: aliceblue;
    
}
.img-btn1 > p{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.65);
}
.img-btn2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 10rem;
    height: 4.9rem;
    left: 58vw;
    top: 28rem;
    border-radius: 12px;
    background-color: rgba(105, 104, 104, 0.658);
    border: none;
    filter: opacity(80%);

}
.img-btn2-text{
    text-align: left ;
}
.benner-img-btn-circle{
    margin-left: 10px;  
    margin-right: 5px;
    background-color: rgb(230, 83, 60);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

}
.img-btn2-h2 {
    font-size: 24px;
    font-weight: 900;
    color: aliceblue;
}
.img-btn2-p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.65);
    margin-right: 10px;
}
/*Banner end*/
/* Habits start*/
.habits{
    background-color: rgb(0, 0, 0);

}
.habits-contener{
    margin: 0 auto;
    width: 1044px;
    padding-top: 4.5rem;
   
}
.habits-titel > h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;

}
.habits-titel > p{
    margin-top: .8rem;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.Habits-img-contener{
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
}
.Habits-img-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;

}
.Habits-img{
    border-radius: 50%;
}
.Habits-img-box > h3{
   padding-top: 1.5rem;
}
.Habits-img-box > p{
    font-size: 12px;
    width: 16vw;
    padding-top: 10px;
    text-align: center;

}
/* Habits end*/
/*run start*/
.run{
    background-color: black;
}
.run-contener{
    width: 74.5vw;
    margin: 0 auto;
    padding-top: 10vw ;
    
}
.run-box{
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    padding: 2.5vw 3.5vw;
    border-radius: 15px;
    padding-bottom: 10px;
}
.run-detiles {
    margin-top: 1.6vw;
}
.run-detiles > h1{

    font-size: 48px;
    font-weight: 900;
    padding-bottom: 2.2rem;

}
.run-detiles > p{
    font-size: 14px;
    padding-bottom: 2rem;
}
.run-img > img {
    
    border-radius: 15px;
}
.run-detiles > button{
    background-color: rgb(230, 83, 60);
    border-radius: 45px;
    color: aliceblue;
    border: none;
    padding: 10px 50px;

}
/*run end*/
/*Top-Reads start*/
.Top-Reads{
    background-color: black;
    padding: 10vw 0 1vw ;
}
.Top-Reads-contener{
    width: 71.5vw;
    margin: 0 auto;
    padding: 1.5vw;
    border-radius: 10px;
    background-color: rgba(32, 32, 32, 0.89);
}
.Top-Reads-contener h1{
    font-size: 3vw;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.849);
}
.reads-contener{
    display: grid;
    padding-top: 3vw;
    gap: 10px;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(12 , 1fr);
}
.contener-1{
    grid-column: 1/ span 6;
    grid-row: 1/ span 6;
    gap: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 5px;
}

.contener-2{
    grid-column: 7/ span 6;
    grid-row: 1/ span 6;
    gap: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px 4px;
    
}
.contener-3{
    grid-column: 1/ span 6;
    grid-row: 7/ span 6;
    gap: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 5px;
}
.contener-4{
    grid-column: 7/ span 6;
    grid-row: 7/ span 6;
    gap: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 5px;
}
.contener-1-h1-p h3 {
    font-size: 2vw;
    padding-top: 1.5vw;
    font-weight: 700;
    color: aliceblue;
    text-align: left;
    
}
.contener-1-h1-p p{
    font-size: 1vw;
    padding-top: 1vw ;
    font-weight: 400;
    color: rgb(156, 156, 156);
    text-align: left;

}

/*Top-Reads start*/
/*Trainings and Exercises start*/
.Trainings-and-Exercises{
    background-color: black ;
}
.Trainings-body{
    width: 74.5vw;
    margin: 0 auto;
}
.Trainings-and-Exercises-hedar-bar > h1{
    color: aliceblue;
    font-size: 3vw;
    font-weight: 900;
    padding-top: 4.5vw;
}
.Trainings-and-Exercises-hedar-bar{
    font-size: 12px;
    padding-top: 1.5vw ;
    padding-bottom: 3.5vw;
}
.Trainings-img-contener{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    
}

.Trainings-img-contener img{
    width: 100%;
    height: 100%;
}
.exercise-img1{
   grid-column: 1/ span 3;
   grid-row: 1/ span 6;
   position: relative;
}
.exercise-img1 .warmup-img1{
    position: absolute;
    background-color: rgb(0, 255, 255);
    opacity: .5;
    width: 100%;
    height: 200px;
    top: 0;
}
.exercise-tital-img1{
   position: absolute;
   display: flex;
   flex-direction: column;
   font-size: 14px;
   top: 85%;
   left: 15%;

    
}

.exercise-img2{ 
    grid-column: 4/ span 6;
    grid-row: 1/ span 6;
    position: relative;

}
.exercise-img2 .warmup-img2{
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3);
    width: 100%;
    height: 200px;
    top: 0;    
}
.exercise-tital-img2{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    top: 15%;
    left: 10%;
}   
.exercise-img3{ 
    grid-column: 10/ span 3;
   grid-row: 1/ span 6;
    position: relative;
}
.exercise-img3 .warmup-img3{
    position: absolute;
    background-color: rgb(22, 22, 22);
    opacity: .5;
    width: 100%;
    height: 200px;
    top: 0;
}
.exercise-tital-img3{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    top: 75%;
    left: 10%;
}   
.exercise-img4{
     grid-column: 1/ span 5;
    grid-row: 7/ span 6;
    position: relative;
    
}
.exercise-img4 .warmup-img4{
    position: absolute;
    background-color: rgb(8, 8, 8);
    opacity: .5;
    width: 100%;
    height: 200px;
    top: 0;
} 
.exercise-tital-img4{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    top: 15%;
    left: 75%;
}  
.exercise-img5{ 
    grid-column: 6/ span 3;
    grid-row: 7/ span 6;
    position: relative;
}
.exercise-img5 .warmup-img5{
    position: absolute;
    background-color: rgba(66, 255, 0, 0.3);
    width: 100%;
    height: 200px;
    top: 0;
}   
.exercise-tital-img5{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    top: 85%;
    left: 15%;
} 
.exercise-img6{
    grid-column: 9/ span 4;
    grid-row: 7/ span 6;
    position: relative;
}
.exercise-img6 .warmup-img6{
    position: absolute;
    background-color: rgba(0, 71, 255, 0.3);
    width: 100%;
    height: 200px;
    top: 0;
}    
.exercise-tital-img6{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    top: 85%;
    left: 15%;
}
/*Trainings and Exercises end*/
/*Bmi start*/
.bmi-hedar-p{
    background-color: black;
}
.bmi-header-contener{
   
    height: 120px;
    align-items: center;
    margin:0 10vw 0 30vw;
    padding-top: 3vw;
    padding-bottom: 2.5vw ;
}
.bmi-header{
    color: aliceblue;
    font-size:3vw;
    font-weight: 900;
    text-align: left;
}
.bmi-details{
    font-size: 12px;
    text-align: left;
    padding-top: 1vw;

}
.bmi-Calculator-contener{
    background-color: rgb(34, 34, 34);
    padding-bottom: 4vw;
}
.Calculator-bar{
    width: 74.5vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.bmi-caption{
    font-size: 1.8rem ;
    font-weight: 900;
    color: aliceblue;
    padding: 4vw 0;
}
.bmi-tabel{
    width: 25vw;

}
.bmi-tabel th {
    text-align: left;
    padding: 10px;
    color: rgb(242, 255, 255);
}
.bmi-tabel td{
    padding: 10px;
    color: rgb(159, 161, 161);

}
.bmi-tabel, th, td{
    border: 1px solid rgb(77, 77, 77);
    border-collapse: collapse;
}
.bmi-Calculator-from{
    padding: 3vw 0 3vw 0;
}
.bmi-Calculator-from h1{
    color: aliceblue;
    padding-top: 1.2vw;
    padding-bottom: 2vw;
    font-size: 28px;
    font-weight: 900;
}
.bmi-Calculator-from > p{
    color: rgb(163, 163, 163);
    font-size: 14px;
    padding-bottom: 2vw;

}
.bmi-Calculator-body{
    width: 35vw;   
}
.bmi-Calculator{
    width: 35vw;
}
.height-weight{
    display:flex;
    justify-content: space-between;

}
.height-weight input{
    width: 50%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgba(133, 133, 133, 0.5);
}
.age-sex{
    display:flex;
    justify-content: space-between;
}
.age-sex .sex, input{
    width: 50%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgba(133, 133, 133, 0.5);
}
.sex select{
    width: 100%;
    background-color: rgba(85, 84, 84, 0.685);
    border: none;
}

.sex select > option{
    color: rgb(176, 179, 179);
}
.company-name { 
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgba(133, 133, 133, 0.5);

}
.company-name select{ 
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(85, 84, 84, 0.685);
    border: none;
}



.calculate-btn{
    padding: 12px 45px;
    background-color: rgb(230, 83, 60);
    border-radius: 45px;
    color: aliceblue;
    margin-top: 25px;
    border: none;
}

/*Bmi end*/
/*meet our team start*/
.team-contener{
    background-color: black;
    padding-bottom: 8vw;
}
.team-contener-bar{
    width: 74.4vw;
    margin: 0 auto; 
}
.team-contener-bar h2{
    padding-top: 4vw;
    font-size: 48px;
    font-weight: 900;
    color: aliceblue;
    align-items: center;
    text-align: center;
}
.team-contener-bar p{ 
    padding-top: 2vw;
    padding-bottom: 4vw;
    font-size: 12px;
    font-weight: 400;
    color: rgb(133, 133, 133);
    align-items: center;
    text-align: center;
}
.team-member-img-section{
    width: 74.4vw;

    margin: 0 auto;
    padding: 1vw;
    background-color: rgb(99, 98, 98);
    border-radius: 10px;
}
.team-member-img{
    display: grid;
    width: 100%;
    height:500px;  
    gap: 10px;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(12 , 1fr);   
}

.team-member-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;   
}
.team-member-img1{
    grid-column: 1/ span 4;
    grid-row: 1/ span 6;
    position: relative;
    
}
.team-member-img2{ 
    grid-column: 5/ span 4;
    grid-row: 1/ span 6;
    position: relative;
}
   
.team-member-img3{ 
    grid-column: 9/ span 4;
    grid-row: 1/ span 6;
    position: relative;
   
}
.team-member-img4{
     grid-column: 1/ span 4;
    grid-row: 7/ span 6;
    position: relative;
    
}
.team-member-img5{
     grid-column: 5/ span 4;
    grid-row: 7/ span 6;
    position: relative;
    
}
.team-member-img6{ 
    grid-column: 9/ span 4;
    grid-row: 7/ span 6;
    position: relative;
    
}
.trainer-dtailes{
    position: absolute;
    top: 80%;
    left: 10%;

}

.trainer-dtailes h3{
    color: aliceblue;
    font-size: 1vw;
}
.trainer-dtailes p{
    color: rgb(178, 180, 180);
    font-size: .9vw;
}
/*meet our team end*/
/*footer star*/

.foot-bar{
    background: rgba(2, 2, 2, 0.938);
}
.foot-contener{
    width: 74.4vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2vw 0 1.5vw;
    
}

.foot-logo{
    font-size: 3vw;
    font-weight: 900;
}
.foot-para{
    font-size: 12px;
    padding-top: 1.5vw;
    color: rgb(142, 145, 145);
}
.footer-manu {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    
}
.footer-manu a{
    display: flex;
    text-align: left;
    flex-direction: column;
    color: rgb(114, 113, 113);
    text-decoration: none;
    font-size: 1.5vw;
    padding: .7vw;

}
.footer-manu h1{
    color: aliceblue;
    font-size: 2vw;
    font-weight: 700;
    text-align: left;

}
.hr{
    width: 74.4vw;
    margin: 0 auto;
}
.all-right{
    padding: .8vw 0 2vw;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: rgb(157, 158, 158);
}

/*footer end*/

